html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
    background-color: black;
    color: rgb(251, 242, 227);
  }
  h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(251, 242, 227);
    text-shadow: 3px 3px 1px black;
    
  }
  
  p,
  li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    align-content: center;
  }
  body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(255, 255, 255);
  }
  img {
    display: block;
    margin: 0 auto;
    width: 600px;
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
   