html {
    font-size: 14px; 
    font-family: "Open Sans", sans-serif; 
    background-color: black;
    color: rgb(251, 242, 227);
  }

  body{
    text-align: center;
    align-content: center;
    margin: auto;
    padding: 100px;
    color: rgb(251, 242, 227);
    max-width: 1000px;
  }

  h1 {
    font-size: 72px;
  }

  div {
    padding: 10px;
    text-align: left;
  }
  
  
